@page "/"
@using Microsoft.EntityFrameworkCore;
@using ToDoApp.Data.Models;
@using ToDoApp.Services;

@inject KanBanSectionService kanbansectionservice;
@inject KanbanTaskItemService kanbantaskitemserice;


<PageTitle>Home</PageTitle>

<MudText Class="d-flex justify-center" Typo="Typo.h3 ">Welcome</MudText>
<br /> 

<MudDropContainer T="KanbanTaskItem" @ref="_dropContainer" Items="@dbtaskitems" ItemsSelector="@((taskitem,column) => taskitem.Status == column)" ItemDropped="TaskUpdated" Class="d-flex flex-row">
	<ChildContent>
		@foreach (var item in dbsectionlist)
		{
			<MudPaper Elevation="0" Width="270px" MinHeight="400px" Class="pa-4 ma-4 d-flex flex-column mud-background-gray rounded-lg">
				<MudToolBar DisableGutters="true">
					<MudText Typo="Typo.subtitle1"><b>@item.Name</b></MudText>
					<MudSpacer />
					<MudMenu Icon="@Icons.Material.Rounded.MoreHoriz" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" ListClass="pa-2 d-flex flex-column" PopoverClass="mud-elevation-25">
						<MudButton Size="Size.Small" Color="Color.Error" StartIcon="@Icons.Material.Outlined.Delete" OnClick="@( () => DeleteSection(item))">Delete Section</MudButton>
						<MudButton Size="Size.Small" Color="Color.Default" StartIcon="@Icons.Material.Rounded.Edit">Rename Section</MudButton>
					</MudMenu>
				</MudToolBar>
				<MudText Typo="Typo.body2" >@item.Descirption</MudText>
				<br/>
				@*<MudText Typo="Typo.body1">@String.Format("{0:M/d/yyyy}",item.Date)</MudText>*@
				@if (item.Date != null)
				{
					<MudText Typo="Typo.body1">Due Date: @String.Format("{0:M/d/yyyy}",item.Date)</MudText>
					}
				<MudDropZone T="KanbanTaskItem" Identifier="@item.Name" Class="mud-height-full" />
				@if (item.NewTaskOpen)
				{
					<MudPaper Elevation="25" Class="pa-2 rounded-lg">
						<MudTextField @bind-Value="item.NewTaskName" Placeholder="New Task" DisableUnderLine="true" Margin="Margin.Dense" Class="mx-2 mt-n2"></MudTextField>
						<MudButton OnClick="@(() => AddTask(item))" Size="Size.Small" Color="Color.Primary" FullWidth="true">Add Task 1</MudButton>
						

					</MudPaper>
				}
				else
				{
					<MudButton OnClick="@(() => item.NewTaskOpen = !item.NewTaskOpen)" StartIcon="@Icons.Material.Filled.Add" FullWidth="true" Class="rounded-lg py-2">Add Task 2</MudButton>
				}
			</MudPaper>
		}
		<MudPaper Class="pa-4" Elevation="0" Width="224px">
			@if (_addSectionOpen)
			{
				<MudPaper Elevation="0" Width="224px" Class="pa-4 d-flex flex-column mud-background-gray rounded-lg">
					<EditForm Model="@newSectionModel" OnValidSubmit="OnValidSectionSubmit">
						<DataAnnotationsValidator />
						<MudTextField @bind-Value="newSectionModel.Name" For="@(() => newSectionModel.Name)" Placeholder="Title" DisableUnderLine="true"></MudTextField>
						<MudTextField @bind-Value="newSectionModel.Descirption" Lines="3" Clearable="true" T=" string" Label="Description" Variant="Variant.Text" Immediate="true"></MudTextField>
						<MudDatePicker Label="Due Date" @bind-Date="newSectionModel.Date" />
						<MudButton ButtonType="ButtonType.Submit" Size="Size.Small" Color="Color.Primary" FullWidth="true">Add Section</MudButton>

					</EditForm>
				</MudPaper>
			}
			else
			{
				<MudButton OnClick="OpenAddNewSection" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" Class="rounded-lg py-2" FullWidth="true">Add Section</MudButton>
			}
		</MudPaper>
	</ChildContent>
	<ItemRenderer>
		<MudPaper Elevation="25" Class="pa-1 rounded-lg my-3 d-flex justify-space-between align-center overflow-hidden">
			<div>
				<MudCheckBox Size="Size.Small" @bind-Checked="@Basic_CheckBox1">
					@context.Name
				</MudCheckBox>
			</div>
			<MudIconButton OnClick="() => RemoveTask(context)" Color="Color.Error" Size="Size.Small" Icon="@Icons.Material.Filled.Delete" aria-label="delete"></MudIconButton>
		</MudPaper>
	</ItemRenderer>
</MudDropContainer>

@code {



	private MudDropContainer<KanbanTaskItem> _dropContainer;

	public bool Basic_CheckBox1 { get; set; } = false	;

	private bool _addSectionOpen;
	/* handling board events */
	private void TaskUpdated(MudItemDropInfo<KanbanTaskItem> info)
	{
		info.Item.Status = info.DropzoneIdentifier;
	}

	/* Setup for board  */
	private List<KanBanSection> _sections = new()
		{ 
			new KanBanSection("To Do","",null, false, String.Empty),
		};




	private List<KanbanTaskItem> _tasks = new()
	{
		//new KanbanTaskItem("Write unit test", "To Do"),
		//new KanbanTaskItem("Write code ", "To Do"),
	};

	KanBanNewForm newSectionModel = new KanBanNewForm();



	private void OnValidSectionSubmit(EditContext context)
	{

		var section = new KanBanSection(newSectionModel.Name, newSectionModel.Descirption, newSectionModel.Date, false, String.Empty);
		kanbansectionservice.AddKanBanSection(section);
		//_sections.Add(new KanBanSection(newSectionModel.Name, newSectionModel.Descirption, newSectionModel.Date, false, String.Empty));
		newSectionModel.Name = string.Empty;
		newSectionModel.Descirption = string.Empty;
		newSectionModel.Date = null;
		_addSectionOpen = false;
		dbsectionlist.Add(section);
		_dropContainer.Refresh();

	}

	private void OpenAddNewSection()
	{
		_addSectionOpen = true;

	}

	private void AddTask(KanBanSection section)
	{

		var task = new KanbanTaskItem(section.NewTaskName, section.Name);

		task.KanBanSectionFK = section.ID;
		kanbantaskitemserice.AddKanbanTaskItem(task);
		dbtaskitems.Add(task);
		section.NewTaskName = string.Empty;
		section.NewTaskOpen = false;
		_dropContainer.Refresh();

	}
	private void RemoveTask(KanbanTaskItem task)
	{
		dbtaskitems.Remove(task);
		_dropContainer.Refresh();

		// Update the database
		kanbantaskitemserice.RemoveKanbanTaskItem(task.ID);


	}
	private void DeleteSection(KanBanSection section)
	{
		if (dbsectionlist.Count == 1)
		{
			dbtaskitems.Clear();
			dbsectionlist.Clear();
		}
		else
		{
			int newIndex = dbsectionlist.IndexOf(section) - 1;
			if (newIndex < 0)
			{
				newIndex = 0;
			}

			dbsectionlist.Remove(section);
			kanbansectionservice.DeleteKanbanKanBanSection(section.ID);
			var tasks = _tasks.Where(x => x.Status == section.Name);
			foreach (var item in tasks)
			{
				item.Status = dbsectionlist[newIndex].Name;
			}
		}
	}
	List<KanBanSection> dbsectionlist = new List<KanBanSection>();
	List<KanbanTaskItem> dbtaskitems = new List<KanbanTaskItem>();
	protected override void OnInitialized()
	{
		dbsectionlist = kanbansectionservice.GetAllKanBanSections();
		dbtaskitems = kanbantaskitemserice.GetAllKanbanTaskItems();
		base.OnInitialized();
	}
}